* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

div.grid {
  width: 630px;
  height: 630px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 35px;
  height: 35px;
}

div.maze-wall {
  background-color: grey;
}

div.grid-item.food {
  background-color: hotpink;
  border-radius: 100%;
  width: 7px;
  height: 7px;
  margin: 14px;
}
              
div.grid-item.big-food {
  background-color: hotpink;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 10px;
}

div.grid-item.pacman {
  background-color: yellow;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin: 0px;
}
