* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
}

.wrapper {
  display: flex;
  width: 100vw;
}

.rules-section {
  flex: 0 0 350px;
  align-self: center;
  padding: 30px;
}

.rules-header {
  font-size: 20px;
}

.rules {
  color: rgb(180, 122, 234);
  font-size: 13px;
  line-height: 18px;
  font-weight: bolder;
}

.game-section {
  flex-grow: 1;
  justify-content: center;
}

.grid-wrapper {
  display: flex;
  justify-content: space-around;
}

.blank-section {
  flex: 0 0 350px;
}

.start-button, .restart-button {
  animation: pulse 1.5s infinite;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  margin: 15px;
  padding: 10px;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.current-score {
  margin: 20px 30px;
}

.high-score {
  margin: 20px 30px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
}

div.grid {
  width: 630px;
  height: 630px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(254, 255, 251);
}

div.grid-item {
  width: 35px;
  height: 35px;
}

div.maze-wall {
  background-color: rgb(39, 31, 48);
}

div.grid-item.food {
  background-color: rgb(255, 105, 180);
  border-radius: 100%;
  width: 7px;
  height: 7px;
  margin: 14px;
}
              
div.grid-item.big-food {
  background-color: hotpink;
  border-radius: 100%;
  width: 19px;
  height: 19px;
  margin: 8px;
}

div.grid-item.blue-ghost {
  background-color: blue;
  border-radius: 0;
  width: 25px;
  height: 25px;
  margin: 5px;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.orange-ghost {
  background-color: orange;
  border-radius: 0;
  width: 25px;
  height: 25px;
  margin: 5px;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.green-ghost {
  background-color: greenyellow;
  border-radius: 0;
  width: 25px;
  height: 25px;
  margin: 5px;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.red-ghost {
  background-color: red;
  border-radius: 0;
  width: 25px;
  height: 25px;
  margin: 5px;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.scatter-ghost {
  background-color: cornflowerblue;
}

div.grid-item.pacman {
  background-color: rgb(255, 238, 0);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin: 0px;
  clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
}

.pacman-animation {
  animation: eat 0.6s infinite;
}

@keyframes eat {
  0% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
  100% {
    clip-path: polygon(0 50%, 0 64%, 4% 76%, 11% 87%, 23% 94%, 36% 98%, 48% 100%, 55% 99%, 65% 96%, 75% 91%, 85% 84%, 27% 51%, 86% 17%, 80% 11%, 72% 5%, 62% 2%, 49% 0, 36% 1%, 25% 3%, 14% 9%, 9% 16%, 3% 26%, 0 37%);
  }
}

.up {
  transform: rotate(270deg);
}

.down {
  transform: rotate(90deg);
}

.left {
  transform: rotate(180deg);
}

.hidden {
  visibility: hidden;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1; /* Sit on top */
  width: 100%;
  height: 100%;
  background-color: rgba(180, 122, 234, 0.8);  
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(97, 226, 148, 1);
  padding: 50px;
  width: 500px;
  /* border-radius: 0.5rem; */
}

.modal-text {
  text-align: center;
  line-height: 50px;
}

.show-modal {
  visibility: visible;
  /* opacity: 1; */
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.restart-again {
  display: flex;
  justify-content: space-around;
}