* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.start-button {
  animation: pulse 1.5s infinite;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  margin: 15px;
  padding: 10px;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.header-wrapper {
  display: flex;
  justify-content: space-around;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
}

div.grid {
  width: 630px;
  height: 630px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(254, 255, 251);
}

div.grid-item {
  width: 35px;
  height: 35px;
}

div.maze-wall {
  background-color: rgb(39, 31, 48);
}

div.grid-item.food {
  background-color: rgb(255, 105, 180);
  border-radius: 100%;
  width: 7px;
  height: 7px;
  margin: 14px;
}
              
div.grid-item.big-food {
  background-color: hotpink;
  border-radius: 100%;
  width: 19px;
  height: 19px;
  margin: 8px;
}

div.grid-item.blue-ghost {
  background-color: blue;
  border-radius: 0;
  width: 25px;
  height: 25px;
  margin: 5px;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.orange-ghost {
  background-color: orange;
  border-radius: 0;
  width: 25px;
  height: 25px;
  margin: 5px;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.green-ghost {
  background-color: greenyellow;
  border-radius: 0;
  width: 25px;
  height: 25px;
  margin: 5px;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.red-ghost {
  background-color: red;
  border-radius: 0;
  width: 25px;
  height: 25px;
  margin: 5px;
  clip-path: polygon(100% 100%, 100% 40%, 98% 28%, 90% 16%, 80% 7%, 66% 1%, 56% 0, 45% 0, 33% 2%, 21% 7%, 11% 14%, 4% 24%, 1% 35%, 0 47%, 0 61%, 0% 75%, 0% 87%, 0% 100%, 17% 86%, 33% 100%, 49% 85%, 65% 100%, 82% 85%);
}

div.grid-item.scatter-ghost {
  background-color: cornflowerblue;
}

div.grid-item.pacman {
  background-color: rgb(255, 255, 0);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin: 0px;
}

.hidden {
  display: none;
}